/* @import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:ital,wdth,wght@0..1,62.5..100,400..700&family=Noto+Sans+Mono:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans+JP:wght@400;700&family=Noto+Sans:wdth,wght@62.5..100,400..700&family=Noto+Sans+Mono:wght@400;700&display=swap');

/* 全体 */
[data-md-color-scheme="default"] {
  --normal-size: 32pt;
  --text-color: #1A1A1A; /* Default text color */
  --box-color: #E6E6E6; /* Default box color */
  --middle-color: #F3F3F3; /* Intermediate box color */
  --paper-color: #FFFFFF; /* Default paper color */
  --margin-color: #7F7F7F;
  --structure-color: #001E62; /* Keio blue */
  --alert-color: #C63527; /* Keio red */
  --comment-color: #F1C400; /* Keio yellow */

  --text-font-family: "Noto Sans JP", "Noto Sans", "Noto Emoji";

  --md-primary-fg-color: var(--structure-color);
  --md-primary-fg-color--light: var(--box-color);
  --md-accent-fg-color: var(--structure-color);
  --md-footer-bg-color: var(--paper-color);
  --md-footer-fg-color: var(--text-color);
  --md-text-color: var(--text-color);

  --md-text-font: var(--text-font-family);

  --md-content-width: 1200px;
  --md-tabs-height: 60px;
}

/* Title, author, and affiliation */
.title, .author, .affiliation {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-top: 0ex;
  margin-bottom: 2ex;
  color: var(--paper-color);
}

.md-header .md-grid, .md-tabs .md-grid, .md-footer__inner {
  max-width: var(--md-content-width) !important;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
}
.md-main .md-grid {
  display: block !important;
}

/* ヘッダー */
.md-header {
  color: var(--paper-color);
  background-color: var(--structure-color);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.md-header__title, .md-header__button, .md-header__topic {
  color: var(--paper-color);
}

/* フッター */
.md-footer {
  text-align: center;
  color: transparent;
  background-color: transparent;
  border-top: 1px solid #dadce0;
  box-shadow: none;
}
.md-footer__meta .md-footer__inner .md-footer_nav {
  max-width: var(--md-content-width) !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1em !important;  /* 画面端との余白 */
  padding-right: 1em !important;
  box-sizing: border-box; /* パディングを含めて計算 */
}

@media screen and (min-width: 768px) {
  /* タブ */
  .md-tabs {
    color: var(--structure-color);
    background-color: var(--paper-color);
    border-bottom: 1px solid #dadce0;
    height: var(--md-tabs-height) !important;
    overflow: hidden !important;
    overflow-x: auto !important;
  }
  .md-tabs__link {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--structure-color);
    opacity: 0.75;
    line-height: 1.2 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1.0 !important;
    position: relative;
    position: relative;
    font-size: medium !important;
    font-weight: normal !important;
  }
  .md-tabs__link:hover, .md-tabs__link--active {
    font-size: medium !important;
    font-weight: normal !important;
    opacity: 1;
  }
  .md-tabs__link::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 6px;
    width: 0;
    height: 2px;

    background-color: var(--structure-color);

    transition: width 0.1s ease;
    transform: translateX(-50%);
    z-index: 10;
  }
  .md-tabs__link:hover::before,
  .md-tabs__link--active::before {
    width: 100%; /* 幅いっぱいに伸ばす */
  }
}

.md-typeset h1 {
  display: none;
}

.md-typeset h2 {
  margin-top: 1.5ex;
  margin-bottom: 0ex;
  border-top: 2px solid var(--box-color);
  padding-top: 1.5ex;

  text-align: center;
  font-weight: bold !important;
  font-size: xx-large;
  color: var(--structure-color);
}

.md-typeset h3 {
  border-left: 4px solid var(--structure-color);
  padding-left: 1ex;

  font-weight: bold !important;
  font-size: x-large;
  color: var(--structure-color);
}

.md-typeset h4 {
  font-weight: bold !important;
  font-size: 1rem;
  color: var(--structure-color);
}

.subtitle {
  text-align: center;
  margin-top: -1ex;
  margin-bottom: 0;
  font-family: "Noto Sans";
  font-size: 0.75rem;
  font-variation-settings: 'wdth' 62.5;
  color: var(--margin-color);
}

/* 一般リスト */
.md-typeset ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}
.md-typeset ul > li {
  position: relative;

  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  padding-left: 2em !important;

  padding-top: 0.75ex;
  padding-bottom: 0.75ex;
}
.md-typeset ul li em {
  position: absolute;
  left: 0;
  top: 0.75ex;

  width: auto;
  color: var(--structure-color);
  font-family: "Noto Sans Mono", "Noto Emoji";
}

/* --- 本文リンクのアニメーション --- */
.md-typeset a:not(.md-button):not(.md-icon-button) {
  position: relative;
  text-decoration: none; /* デフォルトの下線を消す */
  background-image: linear-gradient(var(--structure-color), var(--structure-color));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px; /* 最初は幅0 */
  transition: background-size 0.1s;
}
.md-typeset a:not(.md-button):not(.md-icon-button):hover {
  color: var(--univ-color); /* 文字色も少し変えるなら */
  background-image: linear-gradient(var(--structure-color), var(--structure-color));
  background-size: 100% 2px; /* 幅100%、太さ2px */
}

/* --- ボタンのホバーエフェクト --- */
.md-typeset .md-button:hover {
  border-color: var(--structure-color) !important;
  color: var(--structure-color) !important;
  background-color: transparent !important; /* 背景は抜く */
  /* ふわっと光る影をつける */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* --- 画像ホバー時の枠線 --- */
.md-typeset img:hover {
  transition: transform 0.1s, border-color 0.1s;

  transform: translateY(-2px);
  border: 2px solid var(--structure-color);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* ボタン */
.md-button--primary {
  color: var(--paper-color) !important;
  border-color: var(--structure-color) !important;
  background-color: var(--structure-color) !important;
}

.md-typeset .md-button {
  padding-top: 0.5ex !important;
  padding-bottom: 0.5ex !important;
  padding-left: 1em !important;
  padding-right: 1em !important;

  border-radius: 8px !important;
}

.md-typeset .grid {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.md-typeset em {
  font-style: normal;
  font-weight: bold;
  color: var(--structure-color);
}

.md-typeset strong {
  font-style: normal;
  font-weight: bold;
  color: var(--comment-color);
}
